*{
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    /* background:cadetblue; */
    border-bottom: 3px solid black;
    display:flex;
    /* display:none; */
    height: 135px;
    justify-content: space-between;
}

#timerWrapper{
    width:fit-content;
    display: flex;
}

header h6{
    font-size: 1.2rem;
    margin-right: 10px;
}

header p{
    font-size: 1.2rem;
    width: 60px;
}

#highscoreLink {
    cursor: pointer;
    font-size: 1rem;
}

#startWrapper{
    width: 100vw;
}

button {
    background:red;
    border-radius: 8px;
    color:white;
    display: block;
    height:60px;
    margin: 5px auto;
    width: 120px;
}

#playAgainButton{
    display: none;
}

button:hover{
    background:rgb(255, 89, 89);
}

main {
    align-items: center;
    justify-content: center;
    /* display: flex; */
    display:none;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.screen h4{
    font-size: 1.5rem;
    font-weight: bold;
}

.screen li {
    background: purple;
    border-radius: 5px;
    color:white;
    margin:5px;
    padding: 10px;
    width:max-content;
}

#rightWrong {
    background:unset;
    border-bottom:2px solid rgb(150, 150, 150);
    bottom: 30%;
    color: rgb(150, 150, 150);
    display: none;
    font-size: 1.5rem;
    font-style: italic;
    position: absolute;
}


.screen li:hover{
    background:rebeccapurple;
    cursor: pointer;
}


figure{
    align-items: flex-end;
    /* display:flex; */
    display: none;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 80vh;
    align-items: center;
}

#yourScore{
    width: 100vw;
    text-align: center;
}

#gameOverBanner{
    font-size: 2.5rem;
}

#highscoreList{
    align-items: center;
    color:white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
}

#highscoreHeadline{
    background:none;
    color:black;
    font-size: 2rem;
    margin-bottom: 50px;
    margin-top: 200px;
}

#clearButton{
    display:none;
}

#submitWrap{
    display: flex;
    margin-top: 10px;
    width: 100vw;
}